* {
	box-sizing: border-box;
	outline: none;
}

body, html {
	margin: 0;
	height: 100%;
}

body, html, button, input {
	font-family: 'Signika', sans-serif;
	font-weight: lighter;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #202020;
}

#page-container {
	background-color: #202020;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#top-bar {
	height: 75px;
	width: 100%;
	display: flex;
	flex-direction: row;
}

#navigation-bar {
	height: 100%;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 20px;
}

.tab {
	width: 90%;
	letter-spacing: 1px;
	font-size: 12pt;
	font-weight: 600;
	border: none;
	color: #f5f5f5;
	border-radius: 9px 0 0 9px;
	padding: 15px 10px;
	transition: background-position 0.2s ease, color 0.2s ease, text-shadow 0.2s ease;
	background: linear-gradient(to right, transparent 50%, #b1b1b1 50%);
	background-size: 200% 100%;
	cursor: pointer;
	text-align: left;
}

.tab .fa {
	width: 22px;
	text-align: center;
	margin-right: 20px;
	font-size: 1.15em;
}

.tab.active, .tab:hover {
	color: #1d1d1d;
	background-position: 100% 0;
	text-shadow: rgba(0, 0, 0, 0.22) 0 0 1px;
}

.tab.active {
	background: linear-gradient(to right, transparent 50%, #f5f5f5 50%) 100% 0;
	background-size: 200% 100%;
}

.tab:not(:first-child) {
	margin-top: 15px;
}

#page-logo {
	width: 200px;
	padding: 15px 0 0 25px;
}

#page-logo a {
	width: 47px;
	display: flex;
	flex-direction: row;
	transition: width 0.5s ease;
	text-decoration: none;
}

#page-logo img {
	width: 47px;
	height: 47px;
	opacity: 0.95;
	transition: transform 0.5s ease-in-out;
}

#page-logo a:hover img {
	-moz-transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	transform: rotate(120deg);
	opacity: 0.9;
}

#page-logo a:hover {
	width: 100%;
}

#wheeler-label {
	opacity: 0.95;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.6em;
	letter-spacing: 1px;
	color: #f5f5f5;
	margin-left: 8px;
	margin-top: 13px;
	overflow: hidden;
	text-shadow: #f5f5f5 0 0 1px;
}

#navigation-bar, #top-bar {
	color: #f5f5f5;
}

#search-panel {
	flex: 3;
	position: relative;
}

#search-bar {
	height: 45%;
	width: 100%;
	position: absolute;
	bottom: 15px;
	left: 15px;
	display: flex;
	flex-direction: row;
	color: #9b9b9b;
}

#search-bar .fa {
	font-size: 1.8em;
	position: absolute;
	left: 5px;
	pointer-events: none;
}

#search-input {
	height: 100%;
	width: 4%;
	background: none;
	padding-left: 50px;
	vertical-align: bottom;
	font-size: 15pt;
	letter-spacing: 1px;
	color: #f5f5f5;
	transition: width 0.25s ease;
	border: none;
	border-bottom: 1px solid transparent;
	border-image: linear-gradient(to right, #202020 50px, #f5f5f5 53px, #f5f5f5 400px, #202020) 1 round;
}

#search-input::placeholder {
	color: #9b9b9b;
}

#search-input:focus {
	width: 100%;
	/*-webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from(white), to(rgba(0, 0, 0, 0))) 1 100%;*/
	/*-webkit-border-image: -webkit-linear-gradient(right, white, rgba(0, 0, 0, 0)) 1 100%;*/
	/*-moz-border-image: -moz-linear-gradient(right, white, rgba(0, 0, 0, 0)) 1 100%;*/
	/*-o-border-image: -o-linear-gradient(right, white, rgba(0, 0, 0, 0)) 1 100%;*/
}

#user-panel {
	width: 350px;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	padding: 15px;
}

#user-picture {
	height: 45px;
	width: 45px;
}

#user-info {
	text-transform: uppercase;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#user-name {
	font-size: 18px;
	letter-spacing: 3px;
}

#user-options {
	font-size: 14px;
	letter-spacing: 2px;
	text-align: right;
	color: #cccccc;
}

.account-action {
	cursor: pointer;
}

.account-action:hover {
	color: #f5f5f5;
}

#content {
	box-shadow: #202020 -5px 0 16px -7px;
	height: 100%;
	width: 100%;
	flex: 1;
	background-color: #f5f5f5;
	border-radius: 15pt 0 0 0;
	padding: 15px;
}

.super-section {
	padding: 33px;
}

.super-section-content {
	display: flex;
	justify-content: space-around;
}

.super-heading {
	text-align: center;
	font-size: 16pt;
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 10px;
	margin-bottom: 18px;
	text-shadow: rgba(0, 0, 0, 0.16) 0 0 1px;
}

.content-section {
	width: 20vw;
	text-align: center;
	display: flex;
	flex-direction: column-reverse;
	box-shadow: rgba(0, 0, 0, 0.43) 1px 1px 7px -1px;
	border-radius: 10px;
	background-color: white;
	padding: 22px;
}

.content-section:not(:last-of-type) {
}

.section-heading {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	text-shadow: rgba(0, 0, 0, 0.08) 0 0 1px;
}

.section-content {
	font-size: 3em;
}

#welcome-section-content {
	display: block;
	text-align: center;
}

#welcome-message {
	font-size: 2.7em;
	letter-spacing: 4px;
	color: rgba(0, 0, 0, 0.65);
}

#vehicles-heading, #vehicles-section-content .section-content {
	color: #2599f1;
}

#customers-heading, #customers-section-content .section-content {
	color: #ffc820;
}

#finances-heading, #finances-section-content .section-content {
	color: #ef5350;
}

#vehicles-heading {
	text-shadow: rgba(37, 153, 241, 0.41) 0 0 1px;
}

#customers-heading {
	text-shadow: rgba(255, 200, 32, 0.58) 0 0 1px;
}

#finances-heading {
	text-shadow: rgba(239, 83, 80, 0.28) 0 0 1px;
}

#vehicles-section-content .section-heading {
	color: #64b5f6;
	text-shadow: rgba(100, 181, 246, 0.36) 0 0 1px;
}

#customers-section-content .section-heading {
	color: #fbcd5c;
	text-shadow: rgba(251, 205, 92, 0.3) 0 0 1px;
}

#finances-section-content .section-heading {
	color: #f54d4d;
	text-shadow: rgba(245, 77, 77, 0.17) 0 0 1px;
}