* {
	box-sizing: border-box;
}

body, html, .wip-icon::after, button {
	color: #102027;
	font-family: 'Signika', sans-serif;
	font-weight: lighter;
	margin: 0;
	height: 100%;
}

h1, h2, h3, h4, h5, h6, #navbar, #elements-no-hover button, th {
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	text-transform: uppercase;
}

a {
	color: #0069c0;
	text-decoration: none;
}

a:hover {
	color: #6ec6ff;
}


/**************/
/*	Flex	*/
/*************/

#elements-no-hover a, #elements-hover div, .wip-icon::after {
	display: flex;
	align-items: center;
	justify-content: center;
}

#header {
	height: 4vw;
	min-height: 40px;
	max-height: 54px;
	width: 100%;
	position: relative;
	background: #102027;
	display: flex;
	justify-content: space-between;
	color: white;
}

#header a {
	color: inherit;
	text-decoration: none;
}

#title, #navbar {
	opacity: 0.9;
}

#title {
	height: 100%;
	margin-left: 10px;
	color: white;
}

#title a {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#wheeler-logo {
	display: none;
	height: 90%;
	width: auto;
}

#title:hover #wheeler-logo {
	animation: spin 1.5s linear infinite;
	opacity: 0.95;
}

h2 {
	display: none;
	text-transform: none;
	margin-left: 9px;
	margin-top: 5px;
}

#navbar {
	display: inline-block;
	height: 100%;
	font-weight: 700;
	font-size: 9pt;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.6);
	letter-spacing: 2px;
	text-align: center;
	transition: background-color 0.2s ease, color 0.2s ease, text-shadow 0.2s ease;
}

#elements-no-hover, #elements-hover {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	background: transparent;
}

#elements-no-hover a, #elements-hover div {
	height: 100%;
	width: 16.66vw;
	min-width: 86px;
	max-width: 105px;
}

.small-navbar-item {
	min-width: 50px !important;
}

#elements-hover {
	display: none;
}

.info-container {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 40px 5px;
	font-size: 15pt;
}

.info-container-content {
	width: 100%;
	max-width: 1200px;
}

h3 {
	font-size: 29px;
	text-align: center;
	letter-spacing: 0.45vw;
	margin-bottom: 15px;
}

.info-container:nth-child(odd) h3, .info-container:nth-child(odd) h4, .info-container:nth-child(odd) h5, .info-container:nth-child(odd) .feature-icon :first-child, #info-sign-up-button:hover, .table-tick {
	color: #2196f3;
}

button {
	color: white;
	letter-spacing: 2pt;
	text-transform: uppercase;
	transition: color 0.1s linear, border 0.1s linear, background-color 0.1s linear;
	cursor: pointer;
}





@media screen and (hover: hover), screen and (min-width: 769px) {
	#elements-hover div {
		display: flex;
	}

	#elements-hover {
		display: flex;
	}

	#elements-hover a:hover {
		opacity: 0.7;
	}

	#elements-no-hover {
		display: none;
	}
}

@media only screen and (min-width: 481px) {
	#title h2 {
		display: inline-block !important;
	}
}

@media only screen and (min-width: 390px) {
	#wheeler-logo {
		display: block;
	}
}



@-moz-keyframes spin {
	100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform:rotate(360deg);
	}
}
