<div id="header">
	<div id="title">
		<a href="/">
			<img id="wheeler-logo" src="/public/images/wheeler-logo.png">
			<h2>Wheeler</h2>
		</a>
	</div>

	<div id="navbar">
		<div id="elements-hover">
			<div class="small-navbar-item" id="login-link"><a href="/">Login</a></div>
			<div id="features-link"><a href="/features">Features</a></div>
			<div class="small-navbar-item" id="about-link"><a href="/">About</a></div>
			<div id="contact-link"><a href="/">Contact</a></div>
		</div>
		<div id="elements-no-hover">
			<a class="small-navbar-item" href="/">Login</a>
			<a href="/">Features</a>
			<a class="small-navbar-item" href="/">About</a>
			<a href="/">Contact</a>
		</div>
	</div>
</div>
