<div id="header">
	<div id="title">
		<a href="/">
			<img id="wheeler-logo" src="/public/images/wheeler-logo.png">
			<h2>Wheeler</h2>
		</a>
	</div>

	<div id="navbar">
		<div id="elements-hover">
			<div class="small-navbar-item" id="login-link"><span>Login</span></div>
			<div id="features-link"><a href="/features">Features</a></div>
			<div class="small-navbar-item" id="about-link"><a href="/about">About</a></div>
			<div id="contact-link"><a href="/contact">Contact</a></div>
		</div>
		<div id="elements-no-hover">
			<span class="small-navbar-item" id="login-button">Login</span>
			<a href="/features">Features</a>
			<a class="small-navbar-item" href="/about">About</a>
			<a href="/contact">Contact</a>
		</div>
	</div>
</div>
