<head>
	{{>meta}}
	<title>{{title}}</title>
	<link rel="stylesheet" href="/public/styles/main.css">
	<link rel="stylesheet" href="/public/styles/{{stylesheet}}.css">
	{{>references}}
	<script type="module" src="/public/js/front-pages/login.js" async></script>
	<script type="module" src="/public/js/front-pages/forms.js" async></script>
</head>