<head>
	{{>meta}}
	<title>{{title}}</title>
	<link rel="stylesheet" href="/public/styles/dashboard.css">
	{{>references}}
	<script type="text/javascript" src="/public/js/dashboard/main.js" async></script>
</head>