<div id="welcome-section" class="super-section super">
	<div id="welcome-section-content" class="super-section-content">
		<div id="welcome-message">Welcome back, Anonymous!</div>
	</div>
</div>

<div id="vehicles-section" class="super-section">
	<div id="vehicles-heading" class="super-heading">Vehicles</div>

	<div id="vehicles-section-content" class="super-section-content">
		<div id="total-vehicles-section" class="content-section">
			<div id="total-vehicles-heading" class="section-heading">Total vehicles</div>
			<div id="total-vehicles-content" class="section-content">?</div>
		</div>

		<div id="available-vehicles-section" class="content-section">
			<div id="available-vehicles-heading" class="section-heading">Available vehicles</div>
			<div id="available-vehicles-content" class="section-content">?</div>
		</div>

		<div id="rented-vehicles-section" class="content-section">
			<div id="rented-vehicles-heading" class="section-heading">Rented vehicles</div>
			<div id="rented-vehicles-content" class="section-content">?</div>
		</div>
	</div>
</div>

<div id="customers-section" class="super-section">
	<div id="customers-heading" class="super-heading">Customers</div>

	<div id="customers-section-content" class="super-section-content">
		<div id="total-customers-section" class="content-section">
			<div id="total-customers-heading" class="section-heading">Total customers</div>
			<div id="total-customers-content" class="section-content">?</div>
		</div>

		<div id="repeat-customers-section" class="content-section">
			<div id="repeat-customers-heading" class="section-heading">Repeat customers</div>
			<div id="repeat-customers-content" class="section-content">?</div>
		</div>

		<div id="one-time-customers-section" class="content-section">
			<div id="one-time-customers-heading" class="section-heading">One-time customers</div>
			<div id="one-time-customers-content" class="section-content">?</div>
		</div>
	</div>
</div>

<div id="finances-section" class="super-section">
	<div id="finances-heading" class="super-heading">Finances</div>

	<div id="finances-section-content" class="super-section-content">
		<div id="gross-profit-section" class="content-section">
			<div id="gross-profit-heading" class="section-heading">Gross profit</div>
			<div id="gross-profit-content" class="section-content">?</div>
		</div>

		<div id="revenue-section" class="content-section">
			<div id="revenue-heading" class="section-heading">Revenue</div>
			<div id="revenue-content" class="section-content">?</div>
		</div>

		<div id="costs-section" class="content-section">
			<div id="costs-heading" class="section-heading">Expenses</div>
			<div id="costs-content" class="section-content">?</div>
		</div>
	</div>
</div>