<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wheeler - Dashboard</title>
</head>
<body>
<div id="main-content-container">
    <div id="header">
        <div id="title">
            <h1>Wheeler</h1>
        </div>

        <div id="navbar">
            <div id="rental-form"><a href="/rental">Rent-A-Car</a></div>
            <div id="rental-calc"><a href="/calc">Calculation</a></div>
            <div id="vehicle-form"><a href="/vehicle-form">New Vehicle</a></div>
            <div id="customer-form"><a href="/customer-form">New Customer</a></div>
        </div>
    </div>

    <div id="page-content">
        {{{body}}}
    </div>
</div>
</body>
</html>