<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Rental Vehicles Web-App</title>
</head>
<body>

<div id="header">
	<div id="rental-form"><a href="/">Rent-A-Car</a></div>
	<div id="rental-calc"><a href="/calc">Calculation</a></div>
	<div id="vehicle-form"><a href="/vehicle-form">New Vehicle</a></div>
	<div id="customer-form"><a href="/customer-form">New Customer</a></div>
</div>

<h1>Rental Vehicles Web-App</h1>

{{{body}}}

</body>
</html>