<!DOCTYPE html>
<html>
	{{>html-head title="Wheeler - About" stylesheet="about-page"}}
	<body>
		<div id="main-content-container">
			{{>header}}

			<div id="page-content">
				<div class="info-container">
					<h3>About Wheeler</h3>
					<div class="info-container-content">
						<p>
							The idea for Wheeler first arose in 2017 as part of my apprenticeship to become an
							officially certified software developer. I worked on Wheeler as a part-time work project
							until it grew into the form it is today.
						</p>
						<p>
							Wheeler is still in the beginning stages of its development. Nothing you see is necessarily
							permanent, and the vast majority of the service's features has yet to be implemented.
						</p>
						<p>
							If you'd like to participate in its development cycle be becoming an early beta user and
							provide feedback, feel free to <a href="/features">sign up</a> using one of the available
							packages.
						</p>
					</div>
				</div>
				<div class="info-container">
					<h3>About Me</h3>
					<div class="info-container-content">
						<p>
							This app's developer is Christopher Engels. (That's me!) I'm an up-and-coming software
							developer based in Germany. My preferred technologies include Java, JavaScript, Node.js, and
							other web-based languages, but I'm always looking to explore new things and opportunities.
						</p>
						<p>
							I'm also a speculative fiction writer (sci-fi/fantasy) currently working on my
							first book (provisionally titled <em>Phantom Sun</em>), which will hopefully be released
							sometime in 2019. I love both writing and programming equally due to how they can
							unleash your creativity.
						</p>
						<p>
							If you'd like to contact me, you can do so using the <a href="/contact">contact form</a>.
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>