<!DOCTYPE html>
<html>
	{{>html-head title="Wheeler - About" stylesheet="about-page"}}
	<body>
		<div id="main-content-container">
			{{>header}}

			<div id="page-content">
				<div class="info-container">
					<h3>About Wheeler</h3>
					<div class="info-container-content">
						<p>
							The idea for Wheeler first arose in 2017 as part of my apprenticeship to become an
							officially certified software developer. I worked on Wheeler as a part-time work project
							until it grew into the form it is today.
						</p>
						<p>
							Wheeler is still in the beginning stages of its development. Nothing you see is necessarily
							permanent, and the vast majority of the service's features has yet to be implemented.
						</p>
						<p>
							If you'd like to participate in its development cycle be becoming an early beta user and
							provide feedback, feel free to <a href="/features">sign up</a> using one of the available
							packages.
						</p>
					</div>
				</div>
				<div class="info-container">
					<h3>About Me</h3>
					<div class="info-container-content">
						<p>
							My name is Christopher Engels. I'm a software developer in training currently based
							in Germany. My preferred technologies include Java, JavaScript, Node.js, and other
							web-based languages.
						</p>
						<p>
							I'm also a speculative fiction writer (sci-fi/fantasy) and am currently working on my
							first book, which will hopefully be released sometime in 2018 or early 2019. Both
							writing and programming are outlets for my natural creativity, which is what I love
							about them.
						</p>
						<p>
							If you'd like to contact me, you can do so using the <a href="/contact">contact form.</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>