<h2>Price Calculations</h2>

<div id="main-text">
	Calculate your price by entering your data here.
	This will not automatically rent a vehicle, just give you the price.
</div>

<form id="calc-form" method="post" action="{{>route}}">
    {{>dropdown itemName="vehicle" dropdownArray=@vehicles dropdownId="vehicleid"
            props="licenseplate" default=@vehicleId}}

    {{>input-field name="days" type="number" default=@days}}
    {{>input-field name="distance" type="number" default=@distance}}

    {{>submit name="calc" text="Calculate Price"}}
	{{>hint}}
</form>

<div id="price-output">
	<input type="text" value="{{>price}}" disabled/>
</div>