<!DOCTYPE html>
<html>
	{{>html-head title="Wheeler - Contact" stylesheet="forms"}}
	<body>
		<div id="main-content-container">
			{{>header}}

			<div id="page-content">
				<div class="info-container">
					<h3>Contact</h3>
					<div class="info-container-content form">
						<input id="name-input" name="name" type="text" placeholder="YOUR NAME"/>
						<input id="email-input" name="email" type="email" placeholder="YOUR EMAIL"/>
						<input id="subject-input" name="subject" type="text" placeholder="SUBJECT OF YOUR MESSAGE"/>
						<textarea id="text-input" name="text" placeholder="ENTER YOUR MESSAGE"></textarea>
						<button id="submit-contact-form" class="submit-button">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>