<!DOCTYPE html>
<html>
{{>html-head-dash title="Wheeler - Dashboard"}}
<body>
<div id="page-container">
	<div id="top-bar">
		<div id="page-logo">
			<a href="/dashboard">
				<img id="wheeler-logo" src="/public/images/wheeler-logo.png">
				<div id="wheeler-label">Wheeler</div>
			</a>
		</div>

		<div id="account-area">

		</div>
	</div>

	<div id="navigation-bar">
		<button id="vehicles-tab" class="tab active">Vehicles</button>
		<button id="locations-tab" class="tab">Locations</button>
		<button id="customers-tab" class="tab">Customers</button>
		<button id="employees-tab" class="tab">Employees</button>
		<button id="statistics-tab" class="tab">Statistics</button>
		<button id="preferences-tab" class="tab">Preferences</button>
		<button id="about-tab" class="tab">About</button>
	</div>

	<div id="content">
	</div>
</div>
</body>
</html>