<!DOCTYPE html>
<html>
	{{>html-head-dash title="Wheeler - Dashboard"}}
	<body>
		<div id="page-container">
			<div class="page-spinner">Loading...</div>
		</div>
		<script type="text/javascript" src="/public/js/public.js"></script>
	</body>
</html>