<!DOCTYPE html>
<html>
{{>html-head-dash title="Wheeler - Dashboard"}}
<body>
<div id="page-container">
	<div id="navigation-bar">
		<div id="page-label">Dashboard</div>
		<div id="page-tabs">
			<button id="vehicles-tab" class="tab active">Vehicles</button>
			<button id="locations-tab" class="tab">Locations</button>
			<button id="customers-tab" class="tab">Customers</button>
			<button id="employees-tab" class="tab">Employees</button>
			<button id="statistics-tab" class="tab">Statistics</button>
		</div>
	</div>

	<div id="action-bar">
		<button id="new-vehicle" class="action">Add new vehicle</button>
	</div>

	<div id="content">
	</div>
</div>
</body>
</html>