<!DOCTYPE html>
<html>
	{{>html-head title="Wheeler - Features" stylesheet="features-page"}}
	<body>
		<div id="main-content-container">
			{{>header}}

			<div id="page-content">
				<div class="info-container">
					<h3>Choose the package that's right for you</h3>
						<span>Don't worry – even though this choice is binding, you can still customize your dashboard in many ways later to hide features you don't need.</span>
					<div class="info-container-content">
						<table class="feature-list">
							<colgroup>
								<col/>
								<col/>
								<col/>
							</colgroup>
							<tr>
								<th></th>
								<th>Lite</th>
								<th>Regular</th>
							</tr>
							<tr>
								<td>Manage all your vehicles in one place</td>
								<td class="table-tick"></td>
								<td class="table-tick"></td>
							</tr>
							<tr>
								<td>Modern, sleek, and minimally-designed UI</td>
								<td class="table-tick"></td>
								<td class="table-tick"></td>
							</tr>
							<tr>
								<td>Fully customizable dashboard</td>
								<td class="table-tick"></td>
								<td class="table-tick"></td>
							</tr>
							<tr>
								<td>Track mileage, maintenance dates, and other data about your vehicles</td>
								<td class="table-tick"></td>
								<td class="table-tick"></td>
							</tr>
							<tr>
								<td>View statistics as pie charts, bar charts, graphs, or tables</td>
								<td class="table-tick"></td>
								<td class="table-tick"></td>
							</tr>
							<tr>
								<td>Request features you want to see</td>
								<td class="table-tick"></td>
								<td class="table-tick"></td>
							</tr>
							<tr>
								<td>Customer Relationship Management</td>
								<td></td>
								<td class="table-tick"></td>
							</tr>
							<tr>
								<td>Create multiple users with different rights to allow your employees to use Wheeler as well</td>
								<td></td>
								<td class="table-tick"></td>
							</tr>
							<tr>
								<td>Manage multiple branches and get their individual or combined statistics</td>
								<td></td>
								<td class="table-tick"></td>
							</tr>
							<tr>
								<td>Send your customers bills with the press of a button</td>
								<td></td>
								<td class="table-tick"></td>
							</tr>
							<tr>
								<td>Fully automated costs and revenue calculations + statistics</td>
								<td></td>
								<td class="table-tick"></td>
							</tr>
							<tr>
								<td>Unlimited extra attributes per vehicle</td>
								<td></td>
								<td class="table-tick"></td>
							</tr>
							<tr>
								<td>Search for and filter your vehicles by criteria you determine</td>
								<td></td>
								<td class="table-tick"></td>
							</tr>
							<tr>
								<td>Customize your prices (e.g. with mileage discounts)</td>
								<td></td>
								<td class="table-tick"></td>
							</tr>
							<tr>
								<td>Batch vehicle updates</td>
								<td></td>
								<td class="table-tick"></td>
							</tr>
						</table>
						<div id="button-wrapper">
							<a href="/sign-up/lite"><button>Sign Up</button></a>
							<a href="/sign-up/regular"><button>Sign Up</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>