<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rental Vehicles Web-App</title>
</head>
<body>
    <div id="main-content-container">
        <div id="header">
            <div id="title">
                <h2>Wheeler</h2>
            </div>

            <div id="navbar">
                <div id="rental-form"><a href="/rental">Rent-A-Car</a></div>
                <div id="rental-calc"><a href="/calc">Calculation</a></div>
                <div id="vehicle-form"><a href="/vehicle-form">New Vehicle</a></div>
                <div id="customer-form"><a href="/customer-form">New Customer</a></div>
            </div>
        </div>

        <div id="page-content">
            <div id="title-image-container">
                <img src="/public/images/title-image-daytona.jpg" alt="Title Image - Daytona"/>
                <div id="title-label-container">
                    <h1>Managing your wheels has never been so simple</h1>
                    <button id="title-sign-up-button">Sign Up</button>
                </div>
            </div>

            <div class="info-container" id="features-container">
                <h3>Features</h3>
                <ul>
                    <li>Clean overview of all your vehicles</li>
                    <li>Automatic price calculations - never grab the calculator again!</li>
                    <li>Automatic billing</li>
                    <li>Print your invoices with the press of a button</li>
                </ul>
            </div>

            <div class="info-container" id="sign-up-container">
                <h3>It's simple.</h3>
                <p>Instant sign-up. No lengthy verification process. No hidden fees.</p>
                <button id="info-sign-up-button">Sign Up Now!</button>
            </div>
        </div>
    </div>
</body>
</html>