<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rental Vehicles Web-App</title>
    <link rel="stylesheet" href="/public/styles/front-page.css">
    <link href="https://fonts.googleapis.com/css?family=Signika:300,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet">
</head>
<body>
    <div id="main-content-container">
        <div id="header">
            <div id="title">
                <a href="/">
                    <img id="wheeler-logo" src="/public/images/wheeler-logo.png">
                    <h2>Wheeler</h2>
                </a>
            </div>

            <div id="navbar">
                <div id="login-button"><a href="/">Login</a></div>
                <div id="features-button"><a href="/">Features</a></div>
                <div id="about-button"><a href="/">About</a></div>
            </div>
        </div>

        <div id="page-content">
            <div id="title-image-container"></div>
            <div id="title-label-container">
                <h1>Managing your wheels has never been so simple</h1>
                <button id="title-sign-up-button">Sign Up</button>
                <div id="image-attribution">"Red Shelby Daytona with white racing stripes parked at an auto show" by nate_kate is licensed under CC BY 2.0</div>
            </div>

            <div class="info-container" id="features-container">
                <h3>Features</h3>
                <ul>
                    <li>Clean overview of all your vehicles</li>
                    <li>Automatic price calculations - never grab the calculator again!</li>
                    <li>Automatic billing</li>
                    <li>Print your invoices with the press of a button</li>
                </ul>
            </div>

            <div class="info-container" id="sign-up-container">
                <h3>It's simple.</h3>
                <p>Instant sign-up. No lengthy verification process. No hidden fees.</p>
                <button id="info-sign-up-button">Sign Up Now!</button>
            </div>
        </div>
    </div>
</body>
</html>