<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wheeler</title>
    <link rel="stylesheet" href="/public/styles/front-page.css">
    <link rel="stylesheet" href="/public/styles/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Signika:300,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
    <link rel="manifest" href="/public/images/manifest.json">
    <link rel="mask-icon" href="/public/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/public/images/favicon.ico">
    <meta name="msapplication-config" content="/public/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div id="main-content-container">
        <div id="header">
            <div id="title">
                <a href="/">
                    <img id="wheeler-logo" src="/public/images/wheeler-logo.png">
                    <h2>Wheeler</h2>
                </a>
            </div>

            <div id="navbar">
                <div id="elements-hover">
                    <div id="login-link"><a href="/">Login</a></div>
                    <div id="features-link"><a href="/">Features</a></div>
                    <div id="about-link"><a href="/">About</a></div>
                </div>
                <div id="elements-no-hover">
                    <a href="/">Login</a>
                    <a href="/">Features</a>
                    <a href="/">About</a>
                </div>
            </div>
        </div>

        <div id="title-container">
            <div id="title-image-container"></div>
            <div id="title-label-container">
                <h1>Managing your wheels has never been so simple</h1>
                <button id="title-sign-up-button">Sign Up</button>
                <div id="image-attribution">"Red Shelby Daytona with white racing stripes parked at an auto show" by nate_kate is licensed under CC BY 2.0</div>
            </div>
        </div>

        <div id="page-content">
            <div class="info-container" id="features-container">
                <h3>Features</h3>
                <div class="two-column-box">
                    <span class="fa fa-cubes fa-5x"></span>
                    <div class="info-container-content">
                        <ul>
                            <li>Get an overview of all your vehicles and customers in a clean, modern dashboard.</li>
                            <li>Multiple branches? No problem, get individual or collective data of all of them.</li>
                            <li>We calculate rent prices, costs, and revenue for you &mdash; never grab the calculator again!</li>
                            <li>Automatically bill your customers with the press of a button.</li>
                            <li>Access your dashboard from anywhere, wherever you are.</li>
                        </ul>
                        <span class="aligned-to-li">Not a rental vehicle retailer? Check out our sister product, <a href="/">Wheeler Lite</a>!</span>
                    </div>
                </div>
            </div>

            <div class="info-container" id="sign-up-container">
                <h3>It's simple.</h3>
                <div class="two-column-box">
                    <div class="info-container-content">
                        <p>Instant sign-up. No lengthy verification process. No hidden fees. 100% free &mdash; now and forever.</p>
                        <button id="info-sign-up-button">Sign Up Now!</button>
                    </div>
                    <span class="fa fa-car fa-5x"></span>
                </div>
            </div>
        </div>
    </div>

    <script src="https://use.fontawesome.com/98bdc56529.js"></script>
</body>
</html>