<!DOCTYPE html>
<html>
{{>html-head title="Wheeler - Sign Up" stylesheet="forms"}}
<body>
<div id="main-content-container">
	{{>header}}

	<div id="page-content">
		<div class="info-container">
			<h3>Sign Up for Wheeler Lite</h3>
			<div class="info-container-content form">
				<input id="first-name-input" name="first-name" type="text" placeholder="YOUR FIRST NAME"/>
				<input id="last-name-input" name="last-name" type="text" placeholder="YOUR LAST NAME"/>
				<input id="email-input" name="email" type="email" placeholder="YOUR EMAIL"/>
				<input id="password-input" name="password" type="password" placeholder="YOUR PASSWORD"/>
				<input id="password-confirm-input" name="password-confirm" type="password" placeholder="CONFIRM YOUR PASSWORD"/>
				<button id="submit-contact-form" class="submit-button">Submit</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>