<h2>Rent-A-Car</h2>

<div id="main-text">
	Welcome to the Genesis™ Rental Vehicles Web-App. Please select the vehicle you'd like to rent out along
	with the customer you'd like to rent it to.
</div>

<form id="rental-form" method="post" action="{{>route}}">
    {{>dropdown itemName="vehicle" dropdownArray=@vehicles dropdownId="vehicleid" props="vehicleid licenseplate"}}
    {{>dropdown itemName="customer" dropdownArray=@customers dropdownId="customerid" props="customerid firstname lastname"}}

    {{>submit name="rental"}}
	{{>hint}}
</form>