<h2>Register a new vehicle</h2>

<div id="main-text">
	Bought a new vehicle for your awesome customers to rent out? Enter its data to register it with the system!
</div>

<form id="vehicle-form" method="post" action="{{>route}}">
    {{>dropdown itemName="model" dropdownArray=@models dropdownId="modelid" props="name"}}
    {{>dropdown itemName="color" dropdownArray=@colors dropdownId="colorid" props="name"}}

    {{>input-field name="license-plate" type="text"}}
    {{>input-field name="year" type="number"}}

	{{>submit name="vehicle"}}
	{{>hint}}
</form>